.BarBuscar {
    margin: 0px;
    padding: 5px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items:baseline;
}

.formSearch{
   display: flex;
   height: 95%;
   justify-content: center;
   align-items:baseline;
   padding: 5px;
   width: 100%;
}

.searchIn { 
    border-radius: 5px;
    background: #fff;
    font: 16px;
    padding-left: 10px;
    width: 95%;
}

.buttonSearch {
    transform: translate(-30px,3px);
}
